*{
    font-family: 'Open Sans';

}
.heading-container{
    text-align: center;
    align-items: center;
}
th{
    padding: 12px;
    text-align: left;
    background-color: #04aa6d;
    color: white;
}
.table-container{
    text-align: center;
}
td, th{
    border: 1px solid #ddd;
    padding: 8px;
}
table{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
}
.button-container{
    text-align: center;
    align-items: center;
}